[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "*", index = "https://pypi.tuna.tsinghua.edu.cn/simple"}
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
